.header {
   min-height: 650px;
   padding-top: 18px;
   padding-bottom: 20px;
   color: #ffffff;
   background-color: #5e7721;
   background-image: url("../images/main.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   &__wrapper {
      @include wrapper;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 82px;
   }

   &__logo {
      max-width: 251px;
      height: 100%;
   }

   &__delegate {
      margin-bottom: 0;

      &-text {
         display: block;
         font-weight: 500;
         font-size: 12px;
         text-align: center;

         &:first-child {
            margin-bottom: 4px;
         }

         &--font {
            font-weight: 700;
            font-size: 18px;
         }
      }
   }

   &__phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 90px;
      margin-bottom: 0;

      & span {
         margin-bottom: 6px;
         font-weight: 700;
         font-size: 18px;
      }

      &-btn {
         @include btn;
         padding: 5px 20px;
         font-size: 12px;
      }
   }

   &__promo {
      max-width: 504px;
      margin-left: auto;
   }
}
