.slider {

   &__wrapper {
      @include wrapper;
      position: relative;
      padding-top: 108px;
      padding-bottom: 21px;
   }

   &__next,
   &__prev {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      width: 60px;
      height: 60px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-image: url("../icons/right.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
   }

   &__prev {
      left: 0;
      background-image: url("../icons/left.svg");
   }
}